openai==2.24.0
python-dotenv==1.2.1
fire==0.7.1
httpx[socks]==0.28.1
rich==14.3.3
tenacity==9.1.4
pyyaml==6.0.3
ruamel.yaml==0.18.17
requests==2.33.0
jinja2==3.1.6
pydantic==2.12.5
prompt_toolkit==3.0.52
croniter==6.0.0
PyJWT[crypto]==2.12.1
psutil==7.2.2
python-telegram-bot[webhooks]==22.6
aiohttp==3.13.3
discord.py[voice]==2.7.1
brotlicffi==1.2.0.1
slack-bolt==1.27.0
slack-sdk==3.40.1
qrcode==7.4.2
websockets==15.0.1
